

.img1{
    width: 15rem;
    height: 9rem;
    margin: 1rem;
    border-radius: 2rem;
    
}

.img2{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    margin: 1rem;
}

.Bigbox{
    background-color: darkslategrey;
    border-radius: 2rem;
    margin: 3rem 1rem;
    max-width: 17rem;
}
.title{
    font-size: medium;
    margin: 1rem;
    color: white;
}

.smallbox{
    display: flex;
    align-items: center;
    
}

.letra{
    color: white;
}
